<form action="/authors" method="post">
  <input type="text" placeholder="First Name" name="a[first_name]" />
  <input type="text" placeholder="Put the last name here" name="a[last_name]" />
  <input type="submit" value="Create Author" />
</form>
